<div class="w-full max-w-xs m-auto py-4">
  <h1 class="text-3xl font-bold text-center mb-2 text-gray-600">
    Password Generator
  </h1>
  <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <div class="mb-4">
      <label class="block text-gray-500 text-sm font-bold mb-2" for="username">
        No. of Letters
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        type="text"
        placeholder="e.g. 7, 11"
        (input)="onChangeLength($event.target!)"
      />
    </div>
    <div class="mb-4">
      <div class="md:w-1/3"></div>
      <label class="md:w-2/3 block text-gray-500 font-bold">
        <input
          (change)="onChangeNums()"
          class="mr-2 leading-tight"
          type="checkbox"
        />
        <span class="text-sm"> Use numbers </span>
      </label>
    </div>
    <div class="mb-4">
      <div class="md:w-1/3"></div>
      <label class="md:w-2/3 block text-gray-500 font-bold">
        <input
          (change)="onChangeAlphabets()"
          class="mr-2 leading-tight"
          type="checkbox"
        />
        <span class="text-sm"> Use alphabets </span>
      </label>
    </div>
    <div class="mb-4">
      <div class="md:w-1/3"></div>
      <label class="md:w-2/3 block text-gray-500 font-bold">
        <input
          (change)="onChangeSymbols()"
          class="mr-2 leading-tight"
          type="checkbox"
        />
        <span class="text-sm"> Use symbols </span>
      </label>
    </div>
    <div class="flex items-center justify-center">
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline disabled:bg-gray-500 disabled:cursor-not-allowed"
        [disabled]="!password"
        type="button"
      >
        Generate Password
      </button>
    </div>
    <hr class="mt-4 h-2" />
    <div class="mt-4">
      <label class="text-gray-500 font-bold">
        Password is:<input type="text"
      /></label>
    </div>
  </form>
  <p class="text-center text-gray-500 text-xs">
    &copy;2024 kch. All rights reserved 😛.
  </p>
</div>
